@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Kolker+Brush&family=Rock+Salt&display=swap');

*,
*::placeholder {
    margin: 0px;
    font-family: 'Baloo 2', cursive;
}

body {
    background-color: black;
}

.App {
    height: 100%;
    background-color: black;
    display: grid;
    place-content: center;
}

.chessbord {

    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    height: 800px;
    width: 800px;
    background-image: url('../image/chessbordBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;

    // border: 5px solid whitesmoke;

    .chess_tile {

        border: 1px solid black;
        height: 100px;
        width: 100px;
        display: grid;
        place-content: center;

        img {
            height: 70px;
            width: 70px;
        }

    }

    .white_tile {
        background-color: #157266c9
        // background-color: white;
    }

    .black_tile {
        background-color: #275246d9;
        // background-color: black;
    }
}